@page
@model StoreTask.Razor.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Clients";
}

<h1 class="m-2">
    Clients
</h1>

<br />
<hr />

<a asp-page="Create" class="btn btn-primary p-1">
    Create Client
</a>


@if (Model.clients.Count() > 0)
{
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(c => c.clients.ElementAt(0).Name)</th>
                <th>@Html.DisplayNameFor(c => c.clients.ElementAt(0).Code)</th>
                <th>@Html.DisplayNameFor(c => c.clients.ElementAt(0).State)</th>
                <th>@Html.DisplayNameFor(c => c.clients.ElementAt(0).Class)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.clients)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Code</td>
                    <td>@e.State</td>
                    <td>@e.Class</td>
                    <partial name="_ButtonsPartial" model="@e.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        There Is No Clients!
    </div>
}